.pln {
    color: #000
}

@media screen {
    .str {
        color: #080
    }
    .kwd {
        color: #008
    }
    .com {
        color: #800
    }
    .typ {
        color: #606
    }
    .lit {
        color: #066
    }
    .pun,
    .opn,
    .clo {
        color: #660
    }
    .tag {
        color: #008
    }
    .atn {
        color: #606
    }
    .atv {
        color: #080
    }
    .dec,
    .var {
        color: #606
    }
    .fun {
        color: #f00
    }
}

@media print,
projection {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: bold
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404;
        font-weight: bold
    }
    .lit {
        color: #044
    }
    .pun,
    .opn,
    .clo {
        color: #440
    }
    .tag {
        color: #006;
        font-weight: bold
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}

.prettyprint {
    background: #2d2d2d;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    font-size: 14px;
    line-height: 1.5
}

pre.prettyprint {
    margin: 1em 0;
    padding: 1em;
    border-radius: 4px
}

.pln {
    color: #ccc
}

@media screen {
    .str {
        color: #9c9
    }
    .kwd {
        color: #c9c
    }
    .com {
        color: #999
    }
    .typ {
        color: #69c
    }
    .lit {
        color: #f99157
    }
    .pun {
        color: #ccc
    }
    .opn {
        color: #ccc
    }
    .clo {
        color: #ccc
    }
    .tag {
        color: #f2777a
    }
    .atn {
        color: #f99157
    }
    .atv {
        color: #6cc
    }
    .dec {
        color: #f99157
    }
    .var {
        color: #f2777a
    }
    .fun {
        color: #69c
    }
}

@media print,
projection {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: bold
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404;
        font-weight: bold
    }
    .lit {
        color: #044
    }
    .pun,
    .opn,
    .clo {
        color: #440
    }
    .tag {
        color: #006;
        font-weight: bold
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}
