
@require 'parts/prettify'
@require 'parts/animation'
@require 'parts/icons'


[v-cloak]
	display none
body
	background #f2f2f2
#main
	min-height 1600px
	background #fff

#menus .lists a
	padding 10px 25px
	display block
	border-radius 5px
	&:hover
		background #ddd
		
	&.active
		background #08c
		color #eee