mixin editorButtons(editorId)
	.btn-group.btn-group-sm.m-b-1.editor-buttons
		button.btn.btn-danger.je-i(type='button', @click='updateEditor("je-paired-tag", "i", "#{editorId}")') i
		button.btn.btn-danger.je-b(type='button', @click='updateEditor("je-paired-tag", "b", "#{editorId}")') b
		button.btn.btn-info.je-untab(type='button', @click='updateEditor("je-untab", "#{editorId}")')
			span.icon-left-dir
		button.btn.btn-info.je-tab(type='button', @click='updateEditor("je-tab", "#{editorId}")')
			span.icon-right-dir