#ie-warn.container

	.jumbotron.m-y-2
		
		h1 Your browser is obsolete
		p get a modern browser!
		hr.m-y-2

		.alert.alert-danger(role='alert')
			strong Internet Explorer
			span &times;

		.alert.alert-success(role='alert')
			strong Opera
			span &radic;
			br
			a.btn.btn-primary(href='http://www.opera.com/', target='_blank') Download

		.alert.alert-success(role='alert')
			strong Google Chrome
			span &radic;
			br
			a.btn.btn-primary(href='http://www.google.cn/intl/zh-CN/chrome/', target='_blank') Download

		.alert.alert-success(role='alert')
			strong Firefox
			span &radic;
			br
			a.btn.btn-primary(href='http://www.firefox.com/', target='_blank') Download
